@import "@/style/index.scss";

.aboutContainer {
  margin: 5rem 0;
  scroll-margin-top: 10rem;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: $border-med;
  @media screen and (min-width: 1020px) {
    @include d-flex;
    padding: 0 3rem;
    gap: 5rem;
  }
}