@import '@/style/index.scss';

.titleSection {
  margin-bottom: 1rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $dark;
    margin-bottom: 0.5rem;

    @media screen and (min-width: $tablet) {
      font-size: 1.75rem;
    }
  }

  &__date {
    font-size: 0.9rem;
    color: $grey;
    font-weight: 500;
  }
}
