@import "@/style/index.scss";

.container {
  background-color: #007acc17;
  @include d-flex-column;
  justify-content: flex-start;
  padding: 10vh 0;
  gap: 5rem;
  &__cta {
    margin-top: 2vh;
    @include d-flex-column;
    gap: 3vh;
    margin-bottom: 10vh;
    &__header {
      font-size: 1.7rem;
      color: $dark;
      opacity: 0.9;
      @include headerFont();
      font-weight: 600;
      @media screen and (min-width: $mobile) {
        font-size: 2rem;
      }
    }
    &__btn {
      @include btn();
      padding: 1.2rem;
      font-size: 1.3rem;
      transition: scale, background-color, color, border, 0.7s;
      will-change: scale, background-color, color, border;
    }
    &__btn:hover {
      scale: $hover-med-scale;
      background-color: transparent;
      color: $light-blue;
      border: 1px solid $light-blue;
    }
  }
  &__header {
    @include d-flex-column;
    position: relative;
    &__title {
      text-align: center;
      @include headerFont();
      font-size: 1.7rem;
      color: $dark;
      font-weight: 600;
      @media screen and (min-width: $mobile) {
        font-size: 2rem;
      }
    }
    &__line {
      position: absolute;
      background-color: $dark-blue;
      height: 0.5rem;
      width: 5rem;
      border-radius: $border-med;
      top: 3.5rem;
      left: 0;
    }
  }
  &__servicesWrapper {
    display: grid;
    gap: 2rem;
    justify-content: center;
    width: 80vw;
    @media screen and (min-width: $desktop) {
      width: 25rem;
    }
    @media screen and (min-width: $desktop) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      width: 70vw;
      gap: 10vh;
    }
  }
}
