@import '@/style/index.scss';

.techItem {
  transition: transform $transition-time ease;
  padding: $small-padding;
  border-radius: $border-min;

  &:hover {
    transform: scale($hover-med-scale);
  }

  @media screen and (max-width: $mobile) {
    width: 60px;
    height: 60px;
  }
}
