@import "@/style/index.scss";

.container {
  @include d-flex-column;
  align-items: flex-start;
  padding: 5%;
  gap: 5vh;
  margin-bottom: 20vh;
  &__importantTextDecorate {
    font-weight: 500;
    color: $dark-blue;
  }
  &__aboutSectionWrapper {
    @include d-flex;
    &__content {
      @include small-headers;
      font-size: 1.3rem;
    }
  }
  &__headerWrapper {
    @include d-flex;
    &__header {
      @include headerFont;
      font-weight: 700;
      font-size: 3rem;
    }
  }
  &__ctaWrapper {
    @include d-flex-column;
    gap: 5vh;
    align-items: flex-end;
    &__desWrapper {
      @include d-flex;
      &__des {
        @include textFont;
        font-size: 1.2rem;
      }
    }
    &__buttonWrapper {
      @include d-flex;
      &__btn {
        @include btn;
        padding: 3vh 8vw;
        font-size: 1.3rem;
      }
    }
  }
  &__slideNumberWrapper {
    @include d-flex;
    &__number {
      font-weight: 700;
      font-size: 6rem;
    }
  }
}
