@import "@/style/index.scss";

.cta {
  @include d-flex-column;
  gap: 10vh;
  margin-bottom: 10vh;
  &__header {
    font-size: 2rem;
    color: $dark;
    @include headerFont();
    font-weight: 600;
    &__mark {
      font-size: 2rem;
      color: $dark;
      @include headerFont();
      font-weight: 600;
      color: $light-blue;
    }
  }
  &__btn {
    @include btn();
    padding: 1.2rem;
    font-size: 1.5rem;
    transition: scale, background-color, color, border, 0.7s;
    will-change: scale, background-color, color, border;
  }
  &__btn:hover {
    scale: $hover-med-scale;
    background-color: transparent;
    color: $light-blue;
    border: 1px solid $light-blue;
  }
}
