@import "@/style/index.scss";

.contentSection {
  width: 80%;
  margin: 0 auto;
  @include d-flex-column;
  &__h3 {
    @include small-headers;
  }
  &__h4 {
    @include below-headers;
  }
  &__opinionContainer {
    box-shadow: $box-shadow;
    background-color: $white;
    border-radius: 1rem;
    width: 90%;
    height: 30vh;
    border-top-right-radius: 3rem;
    cursor: pointer;
    transition: scale, opacity, 0.7s;
    will-change: scale, opacity;
    margin-top: 7vh;
    @include d-flex-column;
    justify-content: space-around;
    padding-top: 3vh;
    @media screen and (min-width: 350px) {
      width: 15rem;
      height: 17rem;
    }
    @media screen and (min-width: $tablet) {
      width: 18rem;
      height: 20rem;
    }

    &__img {
      width: 60%;
      height: 60%;
    }
    &__readWrapper {
      @include d-flex;
      gap: 0.5vw;
      &__icon {
        margin-top: 0.3vh;
      }
      &__text {
        @include description();
        font-weight: 500;
        font-size: 1.2rem;
        &__mark {
          color: $light-blue;
        }
      }
    }
  }
  &__opinionContainer:hover {
    scale: $hover-med-scale;
  }
}
