@import "@/style/index.scss";

.container {
  padding: 2rem;
  @include d-flex-column;
  &__contentSection {
    width: 90%;
    margin: 0 auto;
    @include d-flex-column;
    &__h3 {
      @include small-headers;
    }
    &__h4 {
      @include below-headers;
    }
  }
  &__stepWrapper {
    @include d-flex-column;
    gap: 5rem;
    margin: 5rem 0;
    @media screen and (min-width: $desktop) {
      margin: 10rem 0;
      gap: 10rem;
    }
  }
  &__cta {
    @include d-flex-column;
    gap: 10vh;
    margin-bottom: 10vh;
    &__header {
      font-size: 2rem;
      color: $dark;
      @include headerFont();
      font-weight: 600;
      &__mark {
        font-size: 2rem;
        color: $dark;
        @include headerFont();
        font-weight: 600;
        color: $light-blue;
      }
    }
    &__btn {
      @include btn();
      padding: 1.2rem;
      font-size: 1.5rem;
      transition: scale, background-color, color, border, 0.7s;
      will-change: scale, background-color, color, border;
    }
    &__btn:hover {
      scale: $hover-med-scale;
      background-color: transparent;
      color: $light-blue;
      border: 1px solid $light-blue;
    }
  }
}
