@import "@/style/index.scss";

.container {
  padding: 0 2rem;
  &__contentSection {
    width: 90%;
    margin: 0 auto;
    @include d-flex-column;
    &__h3 {
      @include small-headers;
    }
    &__h4 {
      @include below-headers;
    }
  }
  &__stepWrapper {
    @include d-flex-column;
    gap: 5rem;
    margin: 5rem 0;
    @media screen and (min-width: $desktop) {
      margin: 10rem 0;
      gap: 10rem;
    }
  }
}
