@import "@/style/index.scss";

.container {
  @include d-flex-column;
  justify-content: flex-start;
  gap: 3rem;
  padding: 10vh 0;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 0;
    justify-content: space-around;
    width: 80rem;
    margin-left: 22vw;
  }
  margin: 0 auto;
  &__form {
    margin-top: 5vh;
    @media screen and (min-width: $desktop) {
      width: 100%;
      @include d-flex-column;
      align-items: flex-start;
    }
  }
  &__content {
    @include d-flex-column;
    width: 80%;
    gap: 2rem;
    margin: 0 auto;
    @media screen and (min-width: $desktop) {
      width: 40%;
    }
    &__header {
      position: relative;
      &__title {
        text-align: center;
        @include headerFont();
        font-size: 1.7rem;
        color: $dark;
        width: 15rem;
        text-align: left;
        font-weight: 600;
        @media screen and (min-width: $mobile) {
          font-size: 2rem;
        }
        @media screen and (min-width: $desktop) {
          font-size: 3rem;
          width: 100%;
        }
      }
      &__line {
        position: absolute;
        background-color: $dark-blue;
        height: 0.5rem;
        width: 5rem;
        border-radius: $border-med;
        top: 6.5rem;
        left: 0;
        @media screen and (min-width: $desktop) {
          top: 8.5rem;
        }
      }
    }
    &__p {
      @include description();
      color: $dark-grey;
      width: 80%;
      font-size: 1rem;
      @media screen and (min-width: 1020px) {
        text-align: left;
        font-size: 1.1rem;
        width: 35rem;
      }
      &__special {
        color: $light-blue;
      }
    }
  }
  &__image__img {
    @media screen and (min-width: $desktop) {
      width: 850px;
      height: 800px;
    }
  }
}
