@import "@/style/index.scss";

.postContentSection {
  width: 100%;
  margin: 10vh 0;
  &__text {
    margin-top: 5vh;
    font-size: 1.25rem;
    color: $dark-grey;
    line-height: 4vh;
    font-weight: 300;
  }
  @media screen and (min-width: $desktop) {
    width: 70%;
  }
}
