@import "@/style/index.scss";

.container {
  margin-top: 15vh;
  @include d-flex-column;
  gap: 10vh;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    margin-top: 25vh;
    align-items: flex-start;
  }
  &__importantTextDecorate {
    font-weight: 500;
    color: $dark-blue;
  }
  &__cta {
    width: 90%;
    margin: 0 auto;
    @include d-flex-column;
    gap: 5vh;
    align-items: flex-start;
    @media screen and (min-width: $desktop) {
      margin-left: 5vw;
      margin-top: 5vh;
    }
    &__headerWrapper {
      width: 100%;
      &__header {
        @include headerFont();
        font-weight: 700;
        font-size: 2.5rem;
      }
    }
    &__opinionWrapper {
      @include d-flex;
      align-items: flex-end;
      gap: 2vh;
      &__note {
        position: relative;
        top: 0.2rem;
        font-weight: 500;
        font-size: 2rem;
      }
      &__starsWrapper {
        @include d-flex;
      }
    }
    &__pWrapper {
      @include d-flex;
      @media screen and (min-width: $mobile) {
        width: 30rem;
      }
      &__p {
        @include textFont();
        font-size: 1.2rem;
      }
    }
    &__buttonWrapper {
      margin-top: 2vh;
      @include d-flex;
      &__btn {
        @include btn();
        padding: 1rem 2rem;
        @media screen and (min-width: $desktop) {
          font-size: 1.3rem;
          padding: 1rem;
        }
        &:hover {
          background-color: $white;
          border: 1px solid $dark-blue;
          color: $dark-blue;
        }
      }
    }
  }
  &__imageSide {
    position: relative;
    width: 100%;
    height: 100vh;
    &__mobileBackgroundItemImg {
      position: absolute;
      left: 0;
      z-index: 0;
      @media screen and (min-width: $small-desktop) {
        display: none;
      }
    }
    &__desktopBackgroundItemImg {
      display: none;
      @media screen and (min-width: $small-desktop) {
        display: block;
        position: absolute;
        right: 0;
        bottom: 5rem;
      }
    }
    &__ebookImg {
      position: absolute;
      z-index: 1;
      left: 10%;
      top: 5rem;
      @media screen and (min-width: $small-desktop) {
        top: 0;
        left: 1rem;
        width: 467px;
        height: 711px;
      }
    }
  }
}
