@import '@/style/index.scss';

.iconSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;

  &__a {
    text-decoration: none;
  }

  &__icon {
    background-color: #f5f5f5;
    padding: 0.5rem 1.5rem;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.15rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: darken(#f5f5f5, 5%);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      transform: translateY(-2px);
    }

    &__span {
      margin-right: 0.5rem;
      font-weight: 500;
    }
  }
}

#icon_img {
  font-size: 1rem;
}

.detailsLink {
  text-decoration: none;

  .iconSection__icon {
    background-color: $dark-blue;
    color: white;

    &:hover {
      background-color: darken($dark-blue, 10%);
    }
  }
}
