@import '@/style/index.scss';

.menuList {
  display: none;

  @media screen and (min-width: $big-tablet) {
    @include d-flex;
    align-items: center;
  }

  &__linksWrapper {
    @include d-flex;
    align-items: center;

    &__links {
      @include d-flex;
      gap: 2rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
