@import '@/style/index.scss';

.materialsLayout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;

  @media (min-width: $tablet) and (max-width: $desktop) {
    min-height: auto;
  }
}
