@import "@/style/index.scss";

.form {
  @include d-flex-column;
  gap: 2rem;
  margin-top: $standard-margin;
  align-items: flex-start;
  &__error {
    color: rgba(255, 0, 0, 0.697);
  }
  &__inpWrapper {
    @include d-flex-column;
    gap: 2vh;
    align-items: flex-start;
    &__privacyWrapper {
      @include d-flex;
      gap: 0.5vw;
      &__content {
        margin-left: .2rem;
        @include description();
        color: #2e2d2e;
        font-size: 0.7rem;
        @media screen and (min-width: $desktop) {
          font-size: .8rem;
        }
      }
    }
  }

  &__inp {
    border: 1px solid $dark-blue;
    padding: 0.7rem;
    width: 17rem;
    border-radius: 0.3rem;
    @include description();
    font-size: 1rem;
  }
  &__inp_err {
    border: 1px solid rgba(255, 0, 0, 0.697);
    padding: 0.7rem;
    width: 15rem;
    border-radius: 0.3rem;
    @include description();
    font-size: 1rem;
  }

}
