@import "@/style/index.scss";

.container {
  padding-top: 7rem;
  position: relative;
  @include d-flex;
  height: 100%;
  margin-bottom: 30vh;
  background-color: #f9f9f9;
  &__rec1 {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
  &__boxWrapper {
    box-shadow: $box-shadow;
    width: 90vw;
    background-color: $white;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem 1rem;
    z-index: 2;
    @media screen and (min-width: $small-desktop) {
      width: 60rem;
    }
    @media screen and (min-width: $desktop) {
      backdrop-filter: blur(5px);
      background-color: transparent;
    }
  }
}
