@import "@/style/index.scss";

.imageSection {
  width: 80vw;
  margin: 0 auto;
  @include d-flex;
  position: relative;

  &__img {
    width: 90%;
    height: 90%;
    @media screen and (min-width: $mobile) {
      width: 30rem;
    }
    @media screen and (min-width: $big-tablet) {
      width: 50%;
    }
    @media screen and (min-width: $small-desktop) {
      width: 90%;
    }
    @media screen and (min-width: $desktop) {
      width: 60%;
    }
    @media screen and (min-width: 1450px) {
      margin-right: 2rem;
    }
  }
}
