@import '@/style/index.scss';

.container {
  @include d-flex-column;
  gap: 2rem;
  padding: 10vh 0;
  height: 70vh;
  &__header {
    @include headerFont();
    font-size: 3rem;
    @media screen and (min-width: $tablet) {
      font-size: 4rem;
    }
  }
  &__text {
    @include textFont();
    text-align: center;
    @media screen and (min-width: $tablet) {
      font-size: 1.3rem;
    }
  }
}
