@import "@/style/index.scss";

.ctaWrapper {
  @include d-flex-column;
  gap: 5vh;
  align-items: flex-end;
  @media screen and (min-width: $mobile) {
    gap: 7vh;
  }
  @media screen and (min-width: $small-desktop) {
    margin-top: 5vh;
  }
  &__desWrapper {
    @include d-flex;
    &__des {
      @include textFont;
      font-size: 1.2rem;
      @media screen and (min-width: $small-desktop) {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
  }
  &__buttonWrapper {
    @include d-flex;
    &__btn {
      @include btn;
      padding: 3vh 8vw;
      font-size: 1.3rem;
      @media screen and (min-width: $small-desktop) {
        padding: 3vh 4vw;
        font-size: 1.5rem;
      }
      transition: background-color, color, border, 0.7s;
      will-change: background-color, color, border;
      &:hover {
        background-color: $white;
        color: $dark-blue;
        border: 1px solid $dark-blue;
      }
    }
  }
}
