@import "@/style/index.scss";

.navSectionBig {
  display: none;
  @media screen and (min-width: $big-tablet) {
    display: block;
    @include d-flex;
    gap: 2rem;
  }
  &__items {
    color: $dark;
    font-weight: 600;
    transition: color 0.4s;
  }
  &__items:hover {
    color: $dark-blue;
    cursor: pointer;
  }
}
