@import "@/style/index.scss";

.container {
  margin-top: 15vh;
  @include d-flex-column;
  gap: 10vh;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    margin-top: 25vh;
    align-items: flex-start;
  }
}
