@import "@/style/index.scss";

.contentSection {
    @include d-flex-column;
    width: 80vw;
    margin: 5rem auto;
    @media screen and (min-width: 1020px) {
      display: block;
    }
    &__p {
      @include description();
      margin-top: $standard-margin;
      color: $dark-grey;
      @media screen and (min-width: 1020px) {
        text-align: left;
        font-size: 1.1rem;
        width: 35rem;
      }
      &__special {
        color: $light-blue;
        cursor: pointer;
      }
    }

    &__h3 {
      @include small-headers;
      @media screen and (min-width: 1020px) {
        text-align: left;
      }
    }

    &__h4 {
      @include below-headers;
      @media screen and (min-width: 1020px) {
        text-align: left;
        font-size: 1.6rem;
      }
    }
  }