@import "@/style/index.scss";

.container {
  background-color: $footer-dark-blue;
  @include d-flex-column;
  padding: 3rem 10vw;
  color: $white;
  gap: 5vh;
  @media screen and (min-width: $desktop) {
    gap: 20vh;
    padding: 15vh 15vw 5vh 15vw;
  }
  &__content {
    @include d-flex-column;
    width: 100%;
    gap: 2rem;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 30vh;
    }
  }
  &__logoSection {
    @include d-flex;
    cursor: pointer;
  }
  &__linksSection {
    @include d-flex-column;
    gap: 2rem;
    align-items: flex-start;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 10vh;
    }

    &__linksWrapper {
      @include d-flex-column;
      align-items: flex-start;
      width: 100%;
      gap: 1rem;
      &__sectionHeader__header {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        @media screen and (min-width: $tablet) {
          font-size: 1.7rem;
        }
      }
      &__sectionElementsWrapper {
        @include d-flex;
        gap: 1rem;
        &__img {
          cursor: pointer;
          transition: scale, 0.7s;
          will-change: scale;
        }
        &__img:hover {
          scale: $hover-max-scale;
        }
        &__listItems {
          @include d-flex-column;
          gap: 1rem;
          justify-content: flex-start;
          &__item {
            width: 100%;
            font-size: $text-size;
            cursor: pointer;
            transition: scale, color, 0.7s;
            will-change: scale, color;
          }
          &__item:hover {
            color: $dark-blue;
            scale: $hover-max-scale;
          }
        }
      }
    }
  }
  &__copyright {
    @include d-flex;
    &__content {
      text-align: center;
      font-size: $text-size;
    }
  }
}
