@import '@/style/index.scss';

.container {
  background-image: url('../../../../assets/background_image.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: $white;

  &__content {
    padding: 0 10vw;
    @media screen and (min-width: $desktop) {
      padding: 0 15vw;
    }
  }

  &__contentSection {
    margin-top: 20vh;
    @include d-flex-column;
    align-items: flex-start;
    gap: 1.3rem;
    max-width: 60rem;
    padding-bottom: 10vh;
    @media screen and (min-width: $small-desktop) {
      margin-top: 30vh;
    }
    &__category {
      font-weight: 700;
    }
  }
}
